<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Record</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<style>
    .user-details{
    width: 70%;
    margin: auto;
}

h1{
    text-align: center;
}

.btn-detail{
    margin-top: 10px;
}

.btn-hist{
    margin-top: 0px;
}

.user-information-box{
    margin-bottom: 15px;
}

.tombol-back{
text-align: end;
margin-bottom: 30px;
}

.histories-data{
    margin-top: 50px;
}
</style>
</head>
<body>
    <h1><%= userBiodata.username %>  Information</h1>
    <div class="user-details">
        <div class="tombol-back "><a class="btn btn-outline-warning" href="/user-list-page" role="button">back</a></div>
        <div class="row g-3">
            <div class="user-information-box col-12">
                <label  class="form-label">USER ID</label>
                <input type="text" class="form-control" id="updateUserID" placeholder="Input User ID" value="<%= userBiodata.biodata.userID %>" disabled>
            </div>

            <div class="user-information-box col-12">
                <label  class="form-label">USER NAME</label>
                <input type="text" class="form-control" id="updateUsername" placeholder="Input User Name" value="<%= userBiodata.username %>" disabled>
            </div>

            <div class="user-information-box col-12">
                <label  class="form-label">PASSWORD</label>
                <input type="text" class="form-control" id="updatePassword" placeholder="Input Password" value="<%= userBiodata.password %>">
            </div>

            <div class="user-information-box col-12">
                <label  class="form-label">FULLNAME</label>
                <input type="text" class="form-control" id="updateFullname" placeholder="Input Fullname" value="<%= userBiodata.biodata.fullname %>">
            </div>
            
            <div class="user-information-box col-12">
                <label class="form-label">ADDRESS</label>
                <input type="text" class="form-control" id="updateAddress" placeholder="Input Address" value="<%= userBiodata.biodata.address %>">
            </div>
            
            <div class="user-information-box col-12">
                <label class="form-label">EMAIL</label>
                <input type="text" class="form-control" id="updateEmail" placeholder="Input Email" value="<%= userBiodata.biodata.email %>">
            </div>

            <div class="user-information-box col-12">
                <label class="form-label">AGE</label>
                <input type="text" class="form-control" id="updateAge" placeholder="Input Age" value="<%= userBiodata.biodata.age %>">
            </div>

            <button type="submit" class="btn-detail btn btn-primary btn-detail" onclick=handleEditBiodata(<%= userBiodata.id %>)>Update</button>
            <button type="submit" class="btn btn-danger btn-detail" onclick=handleDeleteBiodata(<%= userBiodata.id %>)>Delete</button>
        </div>
        <div class="histories-data">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Score</th>
                    <th scope="col">Attempt</th>
                    <th scope="col">Win</th>
                    <th scope="col">Lose</th>
                    <th scope="col">draw</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <% number = 0 %> 
                    <% userBiodata.histories.forEach(hist => { %>
                    <tr>
                        <th scope="row"><input type="text" class="form-control" id=""  value="<%= number = number+1%>" disabled></td></th>
                        <td><input type="text" class="form-control" id="updateScore"  value="<%=hist.score%>" disabled></td>
                        <td><input type="text" class="form-control" id="updateAttempt"  value="<%=hist.attempt%>" disabled></td>
                        <td><input type="text" class="form-control" id="updateWin"  value="<%=hist.win%>"></td>
                        <td><input type="text" class="form-control" id="updateLose"  value="<%=hist.lose%>"></td>
                        <td><input type="text" class="form-control" id="updateDraw"  value="<%=hist.draw%>"></td>
                        <td><button type="submit" class="btn btn-primary btn-hist" onclick="handleEdithistory(<%=hist.id%>)">Update</button></td>
                        <td><button type="submit" class="btn btn-danger btn-hist" onclick="handleDeleteHistory(<%=hist.id%>)">Delete</button></td>
                    </tr>
                  <% }) %>
                    <tr>
                        <th scope="row"><input type="text" class="form-control" id="" placeholder="" disabled></td></th>
                        <td><input type="text" class="form-control" id="inputScore" placeholder="" disabled></td>
                        <td><input type="text" class="form-control" id="inputAttempt" placeholder="" disabled></td>
                        <td><input type="text" class="form-control" id="inputWin" placeholder="Input Win" ></td>
                        <td><input type="text" class="form-control" id="inputLose" placeholder="Input Lose" ></td>
                        <td><input type="text" class="form-control" id="inputDraw" placeholder="Input Draw" ></td>
                        <td></td>
                        <td><button type="submit" class="btn btn-warning btn-hist" onclick="addHistories(<%= userBiodata.id %>)">Add</button></td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
    
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="/JS/script-update-delete.js"></script>
</body>
</html>